.services-company__container {
  margin: 28px 0 0;
  max-width: 300px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #020102;
  transition: 0.3s linear;
}

.services-company__container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px;
  /* transition: 0.5s linear; */
}

.services-company__container:hover + .services-company__button {
  box-shadow: 0 0 22px rgba(230, 230, 230, 0.5);
  background-color: #ca1517;
  border: 1px solid #ca1517;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .services-company__container {
    margin: 24px 0 0;
    max-width: 250px;
    min-height: 400px;
  }
}
@media screen and (max-width: 900px) {
  .services-company__container {
    margin: 18px 0 0;
    max-width: 192px;
    min-height: 323px;
  }
}
@media screen and (max-width: 650px) {
  .services-company__container {
    margin: 18px 0 0;
    max-width: 232px;
    min-height: 385px;
  }
}
