.slider__item {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
}
.slider__item img {
  max-width: 100%;
  object-fit: cover;
  width: 332px;
  height: 332px;
}
.slider__item.slick-center {
}

.slider__item:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .slider__item img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 900px) {
  .slider__item img {
    width: 190px;
    height: 190px;
  }
}
/*
@media screen and (max-width: 900px) {
  .slider__item {
    max-width: 190px;
    height: 190px;
    padding: 0px 5px;
  }
}
@media screen and (max-width: 900px) {
  .slider__item img {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 900px) {
  .slider__item .filter .slick-slide .slick-cloned {
    width: 190px;
  }
} */
