@import url(./__container/map__container.css);
@import url(./__container-inside/map__container-inside.css);
@import url(./__title/map__title.css);
@import url(./__text/map__text.css);

.map {
  max-height: 704px;
  width: 100%;
  position: relative;
}

iframe {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .map {
    max-height: 600px;
  }
  iframe {
    height: 600px;
  }
}
@media screen and (max-width: 900px) {
  .map {
    max-height: 432px;
  }
  iframe {
    height: 432px;
  }
}
@media screen and (max-width: 650px) {
  .map {
    max-height: 210px;
  }
  iframe {
    height: 210px;
  }
}
