.contacts__title {
  margin: 82px 0 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #ca1517;
  border-bottom: 2px solid #ca1517;
  max-width: 267px;
  max-height: 43px;
}

@media screen and (max-width: 1200px) {
  .contacts__title {
    margin: 65px 0 0;
    font-size: 25px;
    line-height: 30px;
    max-width: 225px;
  }
}
@media screen and (max-width: 900px) {
  .contacts__title {
    margin: 52px 0 0;
    font-size: 19px;
    line-height: 23px;
    max-width: 172px;
  }
}
