.mobile-menu__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0 0 0 5px;
  text-align: center;
  font-family: 'Montserrat Regular';
}

@media screen and (max-width: 350px) {
  .mobile-menu__text {
    max-width: 253px;
  }
}
