.greating__button {
  width: 315px;
  height: 60px;
  margin: 88px 0 103px;
  background-color: #ca1517;
  border: none;
  border-radius: 20px 0px;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s linear;
  overflow: hidden;
  position: relative;
}

.greating__button:before {
  min-height: 100vh;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: blur;
  background: linear-gradient(
    to left,
    transparent 0%,
    #fff 5%,
    #fff 10%,
    transparent 100%
  );
  transform: translate(-100%, -25%) rotate(40deg);
  animation: blick 5s infinite;
}

.greating__button:hover {
  cursor: pointer;
  box-shadow: 0 0 22px rgba(230, 230, 230, 0.5);
  /* opacity: 0.8; */
}

@keyframes blick {
  0% {
    transform: translate(-250%, -25%) rotate(40deg);
  }
  20% {
    transform: translate(80%, -25%) rotate(40deg);
  }
  100% {
    transform: translate(100%, -25%) rotate(40deg);
  }
}
