.greating__button {
  width: 315px;
  height: 60px;
  margin: 88px 0 103px;
  background-color: #ca1517;
  border: none;
  border-radius: 20px 0px;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s linear;
  overflow: hidden;
  position: relative;
}

.greating__button:before {
  min-height: 100vh;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: blur;
  background: linear-gradient(
    to left,
    transparent 0%,
    #fff 5%,
    #fff 10%,
    transparent 100%
  );
  transform: translate(-100%, -25%) rotate(40deg);
  animation: blick 4s infinite;
}

.greating__button:hover {
  cursor: pointer;
  box-shadow: 0 0 22px rgba(230, 230, 230, 0.5);
  /* opacity: 0.8; */
}

@media screen and (max-width: 1200px) {
  .greating__button {
    margin: 65px 0 80px;
    width: 250px;
    height: 48px;
    font-size: 13px;
    line-height: 16px;
  }
}
@media screen and (max-width: 900px) {
  .greating__button {
    width: 168px;
    height: 32px;
    font-size: 9px;
    line-height: 11px;
    margin: 56px 0 68px;
  }
}
@media screen and (max-width: 650px) {
  .greating__button {
    width: 234px;
    height: 44px;
    font-size: 11px;
    line-height: 13px;
    margin: 43px 0 60px;
  }
}

@keyframes blick {
  0% {
    transform: translate(-250%, -25%) rotate(40deg);
  }
  20% {
    transform: translate(80%, -25%) rotate(40deg);
  }
  100% {
    transform: translate(100%, -25%) rotate(40deg);
  }
}
