.header__navigatoin-link-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.3s linear;
}

.header__navigatoin-link-text:hover {
  border-bottom: 2px solid #ca1517;
  padding-bottom: 5px;
}

/* .header__navigatoin-link-text:hover {
  color: #ddd;
}

@media screen and (max-width: 1700px) {
  .header__navigatoin-link-text {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1400px) {
  .header__navigatoin-link-text {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .header__navigatoin-link-text {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 900px) {
  .header__navigatoin-link-text {
    font-size: 12px;
    line-height: 14px;
  }
} */
