.map__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #020102;
  margin: 50px 0 0;
  max-width: 365px;
  font-family: 'Montserrat Regular';
}

@media screen and (max-width: 1200px) {
  .map__text {
    font-size: 14px;
    line-height: 150%;
    margin: 40px 0 0;
  }
}
@media screen and (max-width: 900px) {
  .map__text {
    font-size: 11px;
    line-height: 150%;
    margin: 30px 0 0;
  }
}
@media screen and (max-width: 650px) {
  .map__text {
    font-size: 8px;
    line-height: 150%;
    margin: 23px 0 0;
  }
}
