.contacts__container {
  display: flex;
  flex-direction: column;
  margin: 0 115px 0 0;
}

@media screen and (max-width: 1200px) {
  .contacts__container {
    max-width: 330px;
    min-width: 320px;
  }
}
@media screen and (max-width: 900px) {
  .contacts__container {
    margin: 0 88px 0 0px;
    max-width: 254px;
    min-width: 252px;
  }
}
@media screen and (max-width: 650px) {
  .contacts__container {
    margin: 0;
    align-items: center;
  }
}
