.about__video {
  width: 530px;
  height: 530px;
  margin: 100px 74px 102px 0;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .about__video {
    width: 400px;
    height: 400px;
    margin: 100px 55px 102px 0;
  }
}
@media screen and (max-width: 900px) {
  .about__video {
    width: 327px;
    height: 327px;
    margin: 60px 31px 64px 0;
  }
}
@media screen and (max-width: 650px) {
  .about__video {
    display: none;
  }
}
