.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 196px;
  margin: 56px 0 0;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .footer__container {
    margin: 32px 0 0;
    min-width: 173px;
    max-width: 173px;
  }
}
@media screen and (max-width: 650px) {
  .footer__container {
    margin: 19px 0 0;
    min-width: 109px;
    max-width: 109px;
  }
}
