.about__text {
  margin: 40px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.1em;
  color: #020102;
}

@media screen and (max-width: 900px) {
  .about__text {
    margin: 24px 0 0;
    font-size: 12px;
    line-height: 14px;
  }
}
