.map__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 166px;
  left: 0;

  min-height: 373px;
  /* min-width: 530px;
  padding: 66px 0 0 430px; */
  width: 50%;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .map__container {
    min-height: 230px;
    top: 100px;
  }
}
