.map__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 166px;
  left: 430px;
  min-width: 530px;
  min-height: 373px;
  padding: 66px 0 0 57px;
  background-color: #fff;
}
