.advantages__list {
  max-width: 1200px;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-row-gap: 3px;
  grid-column-gap: 30px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto 70px;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .advantages__list {
    margin: 0px auto 55px;
    min-height: 400px;
  }
}
@media screen and (max-width: 1075px) {
  .advantages__list {
    min-height: 400px;
    margin: 0px auto;
  }
}
@media screen and (max-width: 900px) {
  .advantages__list {
    max-width: 900px;
  }
}
