.about__title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #ca1517;
  border-bottom: 2px solid #ca1517;
  padding-bottom: 3px;
  margin-top: -9px;
  max-width: 325px;
}
