.about__title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #ca1517;
  border-bottom: 2px solid #ca1517;
  padding-bottom: 3px;
  margin-top: -9px;
  max-width: 325px;
}

@media screen and (max-width: 1200px) {
  .about__title {
    font-size: 25px;
    line-height: 30px;
    max-width: 271px;
  }
}
@media screen and (max-width: 900px) {
  .about__title {
    font-size: 19px;
    line-height: 23px;
    max-width: 206px;
  }
}
@media screen and (max-width: 650px) {
  .about__title {
    font-size: 22px;
    line-height: 26px;
    max-width: 238px;
    margin: 0 0 8px;
  }
}
