.form__textarea {
  background: #c4c4c4;
  height: 119px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #020102;
  padding-left: 25px;
  padding-top: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.form__textarea::placeholder {
  font-size: 18px;
  line-height: 150%;
  color: #020102;
}

@media screen and (max-width: 900px) {
  .form__textarea {
    grid-column-end: 2;
    height: 75px;
    font-size: 15px;
    line-height: 150%;
    padding: 10px 0 0 13px;
  }
  .form__textarea::placeholder {
    font-size: 15px;
    line-height: 150%;
  }
  .form__textarea::-moz-placeholder {
    font-size: 15px;
    line-height: 150%;
  }
}
@media screen and (max-width: 650px) {
  .form__textarea {
    height: 60px;
    font-size: 13px;
    line-height: 150%;
    padding-left: 10px;
  }
  .form__textarea::placeholder {
    font-size: 12px;
    line-height: 150%;
  }
  .form__textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 150%;
  }
}

/* @media screen and (max-width: 1700px) {
  .form__textarea {
    height: 155px;
  }
}
@media screen and (max-width: 1570px) {
  .form__textarea {
    height: 140px;
    font-size: 16px;
    line-height: 19px;
  }
  .form__textarea::placeholder {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 1400px) {
  .form__textarea {
    height: 130px;
    font-size: 14px;
    line-height: 17px;
  }
  .form__textarea::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 1200px) {
  .form__textarea {
    height: 110px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 900px) {
  .form__textarea {
    height: 95px;
    font-size: 10px;
    line-height: 12px;
  }
  .form__textarea::placeholder {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and (max-width: 400px) {
  .form__textarea {
    padding-left: 10px;
  }
}
@media screen and (max-width: 350px) {
  .form__textarea {
    grid-column-end: 2;
  }
} */
