.greating__subtitle {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 23px 0 0;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .greating__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 900px) {
  .greating__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 650px) {
  .greating__subtitle {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin: 10px 35px 0;
  }
}
@media screen and (max-width: 350px) {
  .greating__subtitle {
    font-size: 10px;
    line-height: 14px;
  }
}
