.header__button-menu {
  display: none;
}

@media screen and (max-width: 650px) {
  .header__button-menu {
    display: block;
    border: none;
    background-image: url(../../../images/mobile-menu-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 32px;
    background-color: transparent;
    margin-top: 3px;
    /* justify-self: flex-end; */
  }
  .header__button-menu:hover {
    cursor: pointer;
  }
  .header__button-menu:focus {
    outline: none;
  }
}
