.header__container {
  display: flex;
  align-items: center;
  margin: 54px 0 0 0;
}

@media screen and (max-width: 1500px) {
  .header__container {
    margin: 37px 0 0 0;
  }
}

@media screen and (max-width: 900px) {
  .header__container {
    margin: 23px 0 0 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
