.map__container-inside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 150px 0 53px;
}

@media screen and (max-width: 900px) {
  .map__container-inside {
    margin: 0 50px 0 53px;
  }
}
