.header__navigation-link {
  margin-right: 55px;
}

.header__navigation-link:last-child {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .header__navigation-link {
    margin-right: 35px;
  }
}
@media screen and (max-width: 900px) {
  .header__navigation-link {
    margin-right: 55px;
  }
}
