@import url(./__title/services-company__title.css);
@import url(./__list/services-company__list.css);
@import url(./__item/services-company__item.css);
@import url(./__subtitle/services-company__subtitle.css);
@import url(./__container/services-company__container.css);
@import url(./__image/services-company__image.css);
@import url(./__text/services-company__text.css);

.services-company {
  min-height: 600px;
  background-image: url(../../images/white-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
